---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="blobs">
        <div class="blob1">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb1" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#ffd700"></stop>
                <stop offset="30%" stop-color="#ffa500"></stop>
                <stop offset="100%" stop-color="#ff4500"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb1)">
              <animate
                attributeName="d"
                dur="10000ms"
                repeatCount="indefinite"
                values="M431,317Q435,384,374,414Q313,444,245.5,457Q178,470,124,425.5Q70,381,47.5,315.5Q25,250,40.5,179.5Q56,109,126.5,97.5Q197,86,259.5,57Q322,28,354,89.5Q386,151,406.5,200.5Q427,250,431,317Z;
                M436,305Q401,360,350.5,381.5Q300,403,244.5,419.5Q189,436,150.5,393Q112,350,83,300Q54,250,79,197Q104,144,140.5,84.5Q177,25,250,25Q323,25,370,76.5Q417,128,444,189Q471,250,436,305Z;
                M439.00089,315.00012Q428.00031,380.00024,372.0003,416.00056Q316.00028,452.00087,251.00019,450.00031Q186.0001,447.99976,127.00002,414.9999Q67.99993,382.00003,60.49953,316.00002Q52.99913,250,65.99988,188.00024Q79.00063,126.00049,128.00026,75.50009Q176.9999,24.99969,237.49965,63.00073Q297.99941,101.00178,352.9996,118.00096Q407.99979,135.00014,429.00063,192.50007Q450.00147,250,439.00089,315.00012Z;
                M408,302Q394,354,350.5,390Q307,426,255,410Q203,394,142.5,383Q82,372,76,311Q70,250,64.5,180.5Q59,111,116.5,64.5Q174,18,250,16.5Q326,15,382.5,63.5Q439,112,430.5,181Q422,250,408,302Z;
                M446.5,308Q409,366,362.5,410Q316,454,250.5,452.5Q185,451,129.5,414.5Q74,378,53,314Q32,250,79,205Q126,160,165,133.5Q204,107,251,105Q298,103,358.5,115Q419,127,451.5,188.5Q484,250,446.5,308Z;
                M431,317Q435,384,374,414Q313,444,245.5,457Q178,470,124,425.5Q70,381,47.5,315.5Q25,250,40.5,179.5Q56,109,126.5,97.5Q197,86,259.5,57Q322,28,354,89.5Q386,151,406.5,200.5Q427,250,431,317Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
        <div class="blob1 -blur">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb1" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#ffd700"></stop>
                <stop offset="30%" stop-color="#ffa500"></stop>
                <stop offset="100%" stop-color="#ff4500"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb1)">
              <animate
                attributeName="d"
                dur="10000ms"
                repeatCount="indefinite"
                values="M431,317Q435,384,374,414Q313,444,245.5,457Q178,470,124,425.5Q70,381,47.5,315.5Q25,250,40.5,179.5Q56,109,126.5,97.5Q197,86,259.5,57Q322,28,354,89.5Q386,151,406.5,200.5Q427,250,431,317Z;
                M436,305Q401,360,350.5,381.5Q300,403,244.5,419.5Q189,436,150.5,393Q112,350,83,300Q54,250,79,197Q104,144,140.5,84.5Q177,25,250,25Q323,25,370,76.5Q417,128,444,189Q471,250,436,305Z;
                M439.00089,315.00012Q428.00031,380.00024,372.0003,416.00056Q316.00028,452.00087,251.00019,450.00031Q186.0001,447.99976,127.00002,414.9999Q67.99993,382.00003,60.49953,316.00002Q52.99913,250,65.99988,188.00024Q79.00063,126.00049,128.00026,75.50009Q176.9999,24.99969,237.49965,63.00073Q297.99941,101.00178,352.9996,118.00096Q407.99979,135.00014,429.00063,192.50007Q450.00147,250,439.00089,315.00012Z;
                M408,302Q394,354,350.5,390Q307,426,255,410Q203,394,142.5,383Q82,372,76,311Q70,250,64.5,180.5Q59,111,116.5,64.5Q174,18,250,16.5Q326,15,382.5,63.5Q439,112,430.5,181Q422,250,408,302Z;
                M446.5,308Q409,366,362.5,410Q316,454,250.5,452.5Q185,451,129.5,414.5Q74,378,53,314Q32,250,79,205Q126,160,165,133.5Q204,107,251,105Q298,103,358.5,115Q419,127,451.5,188.5Q484,250,446.5,308Z;
                M431,317Q435,384,374,414Q313,444,245.5,457Q178,470,124,425.5Q70,381,47.5,315.5Q25,250,40.5,179.5Q56,109,126.5,97.5Q197,86,259.5,57Q322,28,354,89.5Q386,151,406.5,200.5Q427,250,431,317Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob2">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb2" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#ffd700"></stop>
                <stop offset="30%" stop-color="#ffa500"></stop>
                <stop offset="100%" stop-color="#ff4500"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb2)">
              <animate
                attributeName="d"
                dur="9000ms"
                repeatCount="indefinite"
                values="M430.5,319Q439,388,371,401.5Q303,415,249.5,415Q196,415,131.5,399Q67,383,70,316.5Q73,250,63,178.5Q53,107,121,85.5Q189,64,254,50Q319,36,354,92.5Q389,149,405.5,199.5Q422,250,430.5,319Z;
                M443.01272,294.7566Q374.87231,339.51321,348.32069,405.41023Q321.76908,471.30724,262.79477,432.20499Q203.82045,393.10274,163.56385,367.7182Q123.30724,342.33366,47.32069,296.16683Q-28.66586,250,25.46184,188.66659Q79.58953,127.33317,145.2434,128.51248Q210.89726,129.69178,261.03841,96.9227Q311.17955,64.15362,358.69227,100.32045Q406.20499,136.48728,458.67906,193.24364Q511.15314,250,443.01272,294.7566Z;
                M449.5,323Q451,396,377,404.5Q303,413,239,447Q175,481,127,427.5Q79,374,45,312Q11,250,49.5,191Q88,132,136,90Q184,48,244,66Q304,84,348.5,115Q393,146,420.5,198Q448,250,449.5,323Z;
                M465.45944,314.40645Q427.67466,378.81291,374.5447,424.75622Q321.41474,470.69952,254.95944,455.59355Q188.50414,440.48757,146.02857,398.03641Q103.55299,355.58526,104.541,302.79263Q105.52901,250,85.10183,182.40645Q64.67466,114.81291,119.42673,65.44701Q174.1788,16.08111,242.77235,38.37789Q311.3659,60.67466,369.98387,90.44701Q428.60183,120.21936,465.92303,185.10968Q503.24423,250,465.45944,314.40645Z;
                M430.5,319Q439,388,371,401.5Q303,415,249.5,415Q196,415,131.5,399Q67,383,70,316.5Q73,250,63,178.5Q53,107,121,85.5Q189,64,254,50Q319,36,354,92.5Q389,149,405.5,199.5Q422,250,430.5,319Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob2 -blur">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb2" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#ffd700"></stop>
                <stop offset="30%" stop-color="#ffa500"></stop>
                <stop offset="100%" stop-color="#ff4500"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb2)">
              <animate
                attributeName="d"
                dur="9000ms"
                repeatCount="indefinite"
                values="M430.5,319Q439,388,371,401.5Q303,415,249.5,415Q196,415,131.5,399Q67,383,70,316.5Q73,250,63,178.5Q53,107,121,85.5Q189,64,254,50Q319,36,354,92.5Q389,149,405.5,199.5Q422,250,430.5,319Z;
                M443.01272,294.7566Q374.87231,339.51321,348.32069,405.41023Q321.76908,471.30724,262.79477,432.20499Q203.82045,393.10274,163.56385,367.7182Q123.30724,342.33366,47.32069,296.16683Q-28.66586,250,25.46184,188.66659Q79.58953,127.33317,145.2434,128.51248Q210.89726,129.69178,261.03841,96.9227Q311.17955,64.15362,358.69227,100.32045Q406.20499,136.48728,458.67906,193.24364Q511.15314,250,443.01272,294.7566Z;
                M449.5,323Q451,396,377,404.5Q303,413,239,447Q175,481,127,427.5Q79,374,45,312Q11,250,49.5,191Q88,132,136,90Q184,48,244,66Q304,84,348.5,115Q393,146,420.5,198Q448,250,449.5,323Z;
                M465.45944,314.40645Q427.67466,378.81291,374.5447,424.75622Q321.41474,470.69952,254.95944,455.59355Q188.50414,440.48757,146.02857,398.03641Q103.55299,355.58526,104.541,302.79263Q105.52901,250,85.10183,182.40645Q64.67466,114.81291,119.42673,65.44701Q174.1788,16.08111,242.77235,38.37789Q311.3659,60.67466,369.98387,90.44701Q428.60183,120.21936,465.92303,185.10968Q503.24423,250,465.45944,314.40645Z;
                M430.5,319Q439,388,371,401.5Q303,415,249.5,415Q196,415,131.5,399Q67,383,70,316.5Q73,250,63,178.5Q53,107,121,85.5Q189,64,254,50Q319,36,354,92.5Q389,149,405.5,199.5Q422,250,430.5,319Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob3">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb3" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(68, 68, 68);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 20, 20);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb3">
              <animate
                attributeName="d"
                dur="11000ms"
                repeatCount="indefinite"
                values="M419.15051,294.09954Q371.5195,338.19909,335.08985,369.10684Q298.66021,400.01459,249.5,401.48062Q200.33979,402.94664,148.40775,382.30342Q96.47571,361.66021,97.77184,305.8301Q99.06796,250,89.77913,188.31311Q80.49031,126.62623,141.1699,114.13831Q201.84949,101.6504,258.07765,76.3325Q314.30582,51.01459,355.14322,97.36408Q395.98062,143.71357,431.38107,196.85678Q466.78153,250,419.15051,294.09954Z;
                M445,321.5Q447,393,378,411.5Q309,430,249.5,432.5Q190,435,136,403.5Q82,372,89.5,311Q97,250,96.5,194Q96,138,136,79.5Q176,21,240.5,51Q305,81,366,101.5Q427,122,435,186Q443,250,445,321.5Z;
                M446.29071,324.4456Q453.92376,398.89119,375.41025,396.79071Q296.89674,394.69023,236.35464,436.15211Q175.81255,477.61399,148,410.86815Q120.18745,344.12232,94.34511,297.06116Q68.50277,250,83.16441,194.80977Q97.82606,139.61954,136.26767,78.29626Q174.70929,16.97298,239.0965,51.31255Q303.48372,85.65211,347.08697,116.42931Q390.69023,147.20651,414.67394,198.60326Q438.65766,250,446.29071,324.4456Z;
                M462,321Q446,392,381,422Q316,452,255.5,435Q195,418,158,380.5Q121,343,78.5,296.5Q36,250,58,188.5Q80,127,138,105.5Q196,84,259.5,54.5Q323,25,369.5,77Q416,129,447,189.5Q478,250,462,321Z;
                M424.46329,302.23165Q394.56081,354.46329,351.80478,394.19503Q309.04876,433.92677,249.93901,432.91463Q190.82925,431.90248,159.39025,385.36587Q127.95124,338.82925,67.37801,294.41463Q6.80478,250,58.69512,198.92686Q110.58546,147.85373,149.12199,102.7195Q187.65851,57.58528,246.29264,69.79273Q304.92677,82.00018,383.40248,88.81711Q461.8782,95.63404,458.12199,172.81702Q454.36578,250,424.46329,302.23165Z;
                M419.15051,294.09954Q371.5195,338.19909,335.08985,369.10684Q298.66021,400.01459,249.5,401.48062Q200.33979,402.94664,148.40775,382.30342Q96.47571,361.66021,97.77184,305.8301Q99.06796,250,89.77913,188.31311Q80.49031,126.62623,141.1699,114.13831Q201.84949,101.6504,258.07765,76.3325Q314.30582,51.01459,355.14322,97.36408Q395.98062,143.71357,431.38107,196.85678Q466.78153,250,419.15051,294.09954Z;              
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob3 -blur">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb3" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(68, 68, 68);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 20, 20);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb3">
              <animate
                attributeName="d"
                dur="11000ms"
                repeatCount="indefinite"
                values="M419.15051,294.09954Q371.5195,338.19909,335.08985,369.10684Q298.66021,400.01459,249.5,401.48062Q200.33979,402.94664,148.40775,382.30342Q96.47571,361.66021,97.77184,305.8301Q99.06796,250,89.77913,188.31311Q80.49031,126.62623,141.1699,114.13831Q201.84949,101.6504,258.07765,76.3325Q314.30582,51.01459,355.14322,97.36408Q395.98062,143.71357,431.38107,196.85678Q466.78153,250,419.15051,294.09954Z;
                M445,321.5Q447,393,378,411.5Q309,430,249.5,432.5Q190,435,136,403.5Q82,372,89.5,311Q97,250,96.5,194Q96,138,136,79.5Q176,21,240.5,51Q305,81,366,101.5Q427,122,435,186Q443,250,445,321.5Z;
                M446.29071,324.4456Q453.92376,398.89119,375.41025,396.79071Q296.89674,394.69023,236.35464,436.15211Q175.81255,477.61399,148,410.86815Q120.18745,344.12232,94.34511,297.06116Q68.50277,250,83.16441,194.80977Q97.82606,139.61954,136.26767,78.29626Q174.70929,16.97298,239.0965,51.31255Q303.48372,85.65211,347.08697,116.42931Q390.69023,147.20651,414.67394,198.60326Q438.65766,250,446.29071,324.4456Z;
                M462,321Q446,392,381,422Q316,452,255.5,435Q195,418,158,380.5Q121,343,78.5,296.5Q36,250,58,188.5Q80,127,138,105.5Q196,84,259.5,54.5Q323,25,369.5,77Q416,129,447,189.5Q478,250,462,321Z;
                M424.46329,302.23165Q394.56081,354.46329,351.80478,394.19503Q309.04876,433.92677,249.93901,432.91463Q190.82925,431.90248,159.39025,385.36587Q127.95124,338.82925,67.37801,294.41463Q6.80478,250,58.69512,198.92686Q110.58546,147.85373,149.12199,102.7195Q187.65851,57.58528,246.29264,69.79273Q304.92677,82.00018,383.40248,88.81711Q461.8782,95.63404,458.12199,172.81702Q454.36578,250,424.46329,302.23165Z;
                M419.15051,294.09954Q371.5195,338.19909,335.08985,369.10684Q298.66021,400.01459,249.5,401.48062Q200.33979,402.94664,148.40775,382.30342Q96.47571,361.66021,97.77184,305.8301Q99.06796,250,89.77913,188.31311Q80.49031,126.62623,141.1699,114.13831Q201.84949,101.6504,258.07765,76.3325Q314.30582,51.01459,355.14322,97.36408Q395.98062,143.71357,431.38107,196.85678Q466.78153,250,419.15051,294.09954Z;              
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob4">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb4" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(68, 68, 68);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 20, 20);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb4">
              <animate
                attributeName="d"
                dur="12000ms"
                repeatCount="indefinite"
                values="
                M419.2112,307.86641Q409.64519,365.73281,356.96377,391.84703Q304.28236,417.96125,245.90636,429.70882Q187.53035,441.4564,155.2926,391.60711Q123.05486,341.75782,85.19138,295.87891Q47.3279,250,53.1975,180.28321Q59.06709,110.56643,126.44172,94.02931Q193.81635,77.4922,253.20352,68.3904Q312.59069,59.2886,381.9532,81.67643Q451.31572,104.06427,440.04647,177.03213Q428.77722,250,419.2112,307.86641Z;
                M457.38281,313.98125Q425.95,377.9625,368.46406,408.44687Q310.97812,438.93125,256.46719,418.53125Q201.95625,398.13126,150.0125,379.04063Q98.06875,359.95,97.95781,304.975Q97.84687,250,100.35781,196.45156Q102.86874,142.90312,140.45781,86.02344Q178.04688,29.14376,241.03594,57.03438Q304.025,84.925,339.62969,121.87812Q375.23439,158.83124,432.025,204.41562Q488.81562,250,457.38281,313.98125Z;
                M414.90884,294.01896Q371.31505,338.03792,339.58008,382.20916Q307.8451,426.3804,247.0353,435.32614Q186.2255,444.27188,137.90621,405.29084Q89.58693,366.3098,70.65753,308.1549Q51.72812,250,71.05426,192.29347Q90.3804,134.58693,133.66438,79.6902Q176.94837,24.79347,244.1549,43.32876Q311.36144,61.86406,341.60327,111.48366Q371.8451,161.10327,415.17386,205.55163Q458.50263,250,414.90884,294.01896Z;
                M403.04801,301.976Q393.93142,353.95199,350.96571,390.97428Q308,427.99657,253.97771,416.06344Q199.95542,404.1303,158.92971,375.09944Q117.90399,346.06858,66.02057,298.03429Q14.13716,250,59.04629,196.98457Q103.95542,143.96914,144.464,96.94171Q184.97257,49.91428,249.97943,48.98286Q314.98628,48.05143,355.45199,96.05486Q395.91771,144.05829,404.04115,197.02915Q412.16459,250,403.04801,301.976Z;
                M398.36566,303.54478Q397.08956,357.08956,357.17912,407.99259Q317.26869,458.89562,241.64175,483.19798Q166.01482,507.50033,118.0633,443.74276Q70.11179,379.98518,103.07475,314.99259Q136.03771,250,132.3771,206.26869Q128.7165,162.53737,169.98889,146.433Q211.26128,130.32862,268.53737,74.48889Q325.81347,18.64916,374.80976,71.2835Q423.80606,123.91785,411.72391,186.95892Q399.64175,250,398.36566,303.54478Z;
                M419.2112,307.86641Q409.64519,365.73281,356.96377,391.84703Q304.28236,417.96125,245.90636,429.70882Q187.53035,441.4564,155.2926,391.60711Q123.05486,341.75782,85.19138,295.87891Q47.3279,250,53.1975,180.28321Q59.06709,110.56643,126.44172,94.02931Q193.81635,77.4922,253.20352,68.3904Q312.59069,59.2886,381.9532,81.67643Q451.31572,104.06427,440.04647,177.03213Q428.77722,250,419.2112,307.86641Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob4 -blur">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb4" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(68, 68, 68);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 20, 20);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb4">
              <animate
                attributeName="d"
                dur="12000ms"
                repeatCount="indefinite"
                values="
                M419.2112,307.86641Q409.64519,365.73281,356.96377,391.84703Q304.28236,417.96125,245.90636,429.70882Q187.53035,441.4564,155.2926,391.60711Q123.05486,341.75782,85.19138,295.87891Q47.3279,250,53.1975,180.28321Q59.06709,110.56643,126.44172,94.02931Q193.81635,77.4922,253.20352,68.3904Q312.59069,59.2886,381.9532,81.67643Q451.31572,104.06427,440.04647,177.03213Q428.77722,250,419.2112,307.86641Z;
                M457.38281,313.98125Q425.95,377.9625,368.46406,408.44687Q310.97812,438.93125,256.46719,418.53125Q201.95625,398.13126,150.0125,379.04063Q98.06875,359.95,97.95781,304.975Q97.84687,250,100.35781,196.45156Q102.86874,142.90312,140.45781,86.02344Q178.04688,29.14376,241.03594,57.03438Q304.025,84.925,339.62969,121.87812Q375.23439,158.83124,432.025,204.41562Q488.81562,250,457.38281,313.98125Z;
                M414.90884,294.01896Q371.31505,338.03792,339.58008,382.20916Q307.8451,426.3804,247.0353,435.32614Q186.2255,444.27188,137.90621,405.29084Q89.58693,366.3098,70.65753,308.1549Q51.72812,250,71.05426,192.29347Q90.3804,134.58693,133.66438,79.6902Q176.94837,24.79347,244.1549,43.32876Q311.36144,61.86406,341.60327,111.48366Q371.8451,161.10327,415.17386,205.55163Q458.50263,250,414.90884,294.01896Z;
                M403.04801,301.976Q393.93142,353.95199,350.96571,390.97428Q308,427.99657,253.97771,416.06344Q199.95542,404.1303,158.92971,375.09944Q117.90399,346.06858,66.02057,298.03429Q14.13716,250,59.04629,196.98457Q103.95542,143.96914,144.464,96.94171Q184.97257,49.91428,249.97943,48.98286Q314.98628,48.05143,355.45199,96.05486Q395.91771,144.05829,404.04115,197.02915Q412.16459,250,403.04801,301.976Z;
                M398.36566,303.54478Q397.08956,357.08956,357.17912,407.99259Q317.26869,458.89562,241.64175,483.19798Q166.01482,507.50033,118.0633,443.74276Q70.11179,379.98518,103.07475,314.99259Q136.03771,250,132.3771,206.26869Q128.7165,162.53737,169.98889,146.433Q211.26128,130.32862,268.53737,74.48889Q325.81347,18.64916,374.80976,71.2835Q423.80606,123.91785,411.72391,186.95892Q399.64175,250,398.36566,303.54478Z;
                M419.2112,307.86641Q409.64519,365.73281,356.96377,391.84703Q304.28236,417.96125,245.90636,429.70882Q187.53035,441.4564,155.2926,391.60711Q123.05486,341.75782,85.19138,295.87891Q47.3279,250,53.1975,180.28321Q59.06709,110.56643,126.44172,94.02931Q193.81635,77.4922,253.20352,68.3904Q312.59069,59.2886,381.9532,81.67643Q451.31572,104.06427,440.04647,177.03213Q428.77722,250,419.2112,307.86641Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
      </div>
        <div class="blob1">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb1" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(48, 48, 48);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 20, 20);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb1)">
              <animate
                attributeName="d"
                dur="10000ms"
                repeatCount="indefinite"
                values="M431,317Q435,384,374,414Q313,444,245.5,457Q178,470,124,425.5Q70,381,47.5,315.5Q25,250,40.5,179.5Q56,109,126.5,97.5Q197,86,259.5,57Q322,28,354,89.5Q386,151,406.5,200.5Q427,250,431,317Z;
                M436,305Q401,360,350.5,381.5Q300,403,244.5,419.5Q189,436,150.5,393Q112,350,83,300Q54,250,79,197Q104,144,140.5,84.5Q177,25,250,25Q323,25,370,76.5Q417,128,444,189Q471,250,436,305Z;
                M439.00089,315.00012Q428.00031,380.00024,372.0003,416.00056Q316.00028,452.00087,251.00019,450.00031Q186.0001,447.99976,127.00002,414.9999Q67.99993,382.00003,60.49953,316.00002Q52.99913,250,65.99988,188.00024Q79.00063,126.00049,128.00026,75.50009Q176.9999,24.99969,237.49965,63.00073Q297.99941,101.00178,352.9996,118.00096Q407.99979,135.00014,429.00063,192.50007Q450.00147,250,439.00089,315.00012Z;
                M408,302Q394,354,350.5,390Q307,426,255,410Q203,394,142.5,383Q82,372,76,311Q70,250,64.5,180.5Q59,111,116.5,64.5Q174,18,250,16.5Q326,15,382.5,63.5Q439,112,430.5,181Q422,250,408,302Z;
                M446.5,308Q409,366,362.5,410Q316,454,250.5,452.5Q185,451,129.5,414.5Q74,378,53,314Q32,250,79,205Q126,160,165,133.5Q204,107,251,105Q298,103,358.5,115Q419,127,451.5,188.5Q484,250,446.5,308Z;
                M431,317Q435,384,374,414Q313,444,245.5,457Q178,470,124,425.5Q70,381,47.5,315.5Q25,250,40.5,179.5Q56,109,126.5,97.5Q197,86,259.5,57Q322,28,354,89.5Q386,151,406.5,200.5Q427,250,431,317Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
        <div class="blob1 -blur">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb1" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(48, 48, 48);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 20, 20);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb1)">
              <animate
                attributeName="d"
                dur="10000ms"
                repeatCount="indefinite"
                values="M431,317Q435,384,374,414Q313,444,245.5,457Q178,470,124,425.5Q70,381,47.5,315.5Q25,250,40.5,179.5Q56,109,126.5,97.5Q197,86,259.5,57Q322,28,354,89.5Q386,151,406.5,200.5Q427,250,431,317Z;
                M436,305Q401,360,350.5,381.5Q300,403,244.5,419.5Q189,436,150.5,393Q112,350,83,300Q54,250,79,197Q104,144,140.5,84.5Q177,25,250,25Q323,25,370,76.5Q417,128,444,189Q471,250,436,305Z;
                M439.00089,315.00012Q428.00031,380.00024,372.0003,416.00056Q316.00028,452.00087,251.00019,450.00031Q186.0001,447.99976,127.00002,414.9999Q67.99993,382.00003,60.49953,316.00002Q52.99913,250,65.99988,188.00024Q79.00063,126.00049,128.00026,75.50009Q176.9999,24.99969,237.49965,63.00073Q297.99941,101.00178,352.9996,118.00096Q407.99979,135.00014,429.00063,192.50007Q450.00147,250,439.00089,315.00012Z;
                M408,302Q394,354,350.5,390Q307,426,255,410Q203,394,142.5,383Q82,372,76,311Q70,250,64.5,180.5Q59,111,116.5,64.5Q174,18,250,16.5Q326,15,382.5,63.5Q439,112,430.5,181Q422,250,408,302Z;
                M446.5,308Q409,366,362.5,410Q316,454,250.5,452.5Q185,451,129.5,414.5Q74,378,53,314Q32,250,79,205Q126,160,165,133.5Q204,107,251,105Q298,103,358.5,115Q419,127,451.5,188.5Q484,250,446.5,308Z;
                M431,317Q435,384,374,414Q313,444,245.5,457Q178,470,124,425.5Q70,381,47.5,315.5Q25,250,40.5,179.5Q56,109,126.5,97.5Q197,86,259.5,57Q322,28,354,89.5Q386,151,406.5,200.5Q427,250,431,317Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob2">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(48, 48, 48);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 20, 20);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb2)">
              <animate
                attributeName="d"
                dur="9000ms"
                repeatCount="indefinite"
                values="M430.5,319Q439,388,371,401.5Q303,415,249.5,415Q196,415,131.5,399Q67,383,70,316.5Q73,250,63,178.5Q53,107,121,85.5Q189,64,254,50Q319,36,354,92.5Q389,149,405.5,199.5Q422,250,430.5,319Z;
                M443.01272,294.7566Q374.87231,339.51321,348.32069,405.41023Q321.76908,471.30724,262.79477,432.20499Q203.82045,393.10274,163.56385,367.7182Q123.30724,342.33366,47.32069,296.16683Q-28.66586,250,25.46184,188.66659Q79.58953,127.33317,145.2434,128.51248Q210.89726,129.69178,261.03841,96.9227Q311.17955,64.15362,358.69227,100.32045Q406.20499,136.48728,458.67906,193.24364Q511.15314,250,443.01272,294.7566Z;
                M449.5,323Q451,396,377,404.5Q303,413,239,447Q175,481,127,427.5Q79,374,45,312Q11,250,49.5,191Q88,132,136,90Q184,48,244,66Q304,84,348.5,115Q393,146,420.5,198Q448,250,449.5,323Z;
                M465.45944,314.40645Q427.67466,378.81291,374.5447,424.75622Q321.41474,470.69952,254.95944,455.59355Q188.50414,440.48757,146.02857,398.03641Q103.55299,355.58526,104.541,302.79263Q105.52901,250,85.10183,182.40645Q64.67466,114.81291,119.42673,65.44701Q174.1788,16.08111,242.77235,38.37789Q311.3659,60.67466,369.98387,90.44701Q428.60183,120.21936,465.92303,185.10968Q503.24423,250,465.45944,314.40645Z;
                M430.5,319Q439,388,371,401.5Q303,415,249.5,415Q196,415,131.5,399Q67,383,70,316.5Q73,250,63,178.5Q53,107,121,85.5Q189,64,254,50Q319,36,354,92.5Q389,149,405.5,199.5Q422,250,430.5,319Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob2 -blur">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(48, 48, 48);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 20, 20);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb2)">
              <animate
                attributeName="d"
                dur="9000ms"
                repeatCount="indefinite"
                values="M430.5,319Q439,388,371,401.5Q303,415,249.5,415Q196,415,131.5,399Q67,383,70,316.5Q73,250,63,178.5Q53,107,121,85.5Q189,64,254,50Q319,36,354,92.5Q389,149,405.5,199.5Q422,250,430.5,319Z;
                M443.01272,294.7566Q374.87231,339.51321,348.32069,405.41023Q321.76908,471.30724,262.79477,432.20499Q203.82045,393.10274,163.56385,367.7182Q123.30724,342.33366,47.32069,296.16683Q-28.66586,250,25.46184,188.66659Q79.58953,127.33317,145.2434,128.51248Q210.89726,129.69178,261.03841,96.9227Q311.17955,64.15362,358.69227,100.32045Q406.20499,136.48728,458.67906,193.24364Q511.15314,250,443.01272,294.7566Z;
                M449.5,323Q451,396,377,404.5Q303,413,239,447Q175,481,127,427.5Q79,374,45,312Q11,250,49.5,191Q88,132,136,90Q184,48,244,66Q304,84,348.5,115Q393,146,420.5,198Q448,250,449.5,323Z;
                M465.45944,314.40645Q427.67466,378.81291,374.5447,424.75622Q321.41474,470.69952,254.95944,455.59355Q188.50414,440.48757,146.02857,398.03641Q103.55299,355.58526,104.541,302.79263Q105.52901,250,85.10183,182.40645Q64.67466,114.81291,119.42673,65.44701Q174.1788,16.08111,242.77235,38.37789Q311.3659,60.67466,369.98387,90.44701Q428.60183,120.21936,465.92303,185.10968Q503.24423,250,465.45944,314.40645Z;
                M430.5,319Q439,388,371,401.5Q303,415,249.5,415Q196,415,131.5,399Q67,383,70,316.5Q73,250,63,178.5Q53,107,121,85.5Q189,64,254,50Q319,36,354,92.5Q389,149,405.5,199.5Q422,250,430.5,319Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob3">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb3" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#ffd700"></stop>
                <stop offset="30%" stop-color="#ffa500"></stop>
                <stop offset="100%" stop-color="#ff4500"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb3">
              <animate
                attributeName="d"
                dur="11000ms"
                repeatCount="indefinite"
                values="M419.15051,294.09954Q371.5195,338.19909,335.08985,369.10684Q298.66021,400.01459,249.5,401.48062Q200.33979,402.94664,148.40775,382.30342Q96.47571,361.66021,97.77184,305.8301Q99.06796,250,89.77913,188.31311Q80.49031,126.62623,141.1699,114.13831Q201.84949,101.6504,258.07765,76.3325Q314.30582,51.01459,355.14322,97.36408Q395.98062,143.71357,431.38107,196.85678Q466.78153,250,419.15051,294.09954Z;
                M445,321.5Q447,393,378,411.5Q309,430,249.5,432.5Q190,435,136,403.5Q82,372,89.5,311Q97,250,96.5,194Q96,138,136,79.5Q176,21,240.5,51Q305,81,366,101.5Q427,122,435,186Q443,250,445,321.5Z;
                M446.29071,324.4456Q453.92376,398.89119,375.41025,396.79071Q296.89674,394.69023,236.35464,436.15211Q175.81255,477.61399,148,410.86815Q120.18745,344.12232,94.34511,297.06116Q68.50277,250,83.16441,194.80977Q97.82606,139.61954,136.26767,78.29626Q174.70929,16.97298,239.0965,51.31255Q303.48372,85.65211,347.08697,116.42931Q390.69023,147.20651,414.67394,198.60326Q438.65766,250,446.29071,324.4456Z;
                M462,321Q446,392,381,422Q316,452,255.5,435Q195,418,158,380.5Q121,343,78.5,296.5Q36,250,58,188.5Q80,127,138,105.5Q196,84,259.5,54.5Q323,25,369.5,77Q416,129,447,189.5Q478,250,462,321Z;
                M424.46329,302.23165Q394.56081,354.46329,351.80478,394.19503Q309.04876,433.92677,249.93901,432.91463Q190.82925,431.90248,159.39025,385.36587Q127.95124,338.82925,67.37801,294.41463Q6.80478,250,58.69512,198.92686Q110.58546,147.85373,149.12199,102.7195Q187.65851,57.58528,246.29264,69.79273Q304.92677,82.00018,383.40248,88.81711Q461.8782,95.63404,458.12199,172.81702Q454.36578,250,424.46329,302.23165Z;
                M419.15051,294.09954Q371.5195,338.19909,335.08985,369.10684Q298.66021,400.01459,249.5,401.48062Q200.33979,402.94664,148.40775,382.30342Q96.47571,361.66021,97.77184,305.8301Q99.06796,250,89.77913,188.31311Q80.49031,126.62623,141.1699,114.13831Q201.84949,101.6504,258.07765,76.3325Q314.30582,51.01459,355.14322,97.36408Q395.98062,143.71357,431.38107,196.85678Q466.78153,250,419.15051,294.09954Z;              
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob3 -blur">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb3" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#ffd700"></stop>
                <stop offset="30%" stop-color="#ffa500"></stop>
                <stop offset="100%" stop-color="#ff4500"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb3">
              <animate
                attributeName="d"
                dur="11000ms"
                repeatCount="indefinite"
                values="M419.15051,294.09954Q371.5195,338.19909,335.08985,369.10684Q298.66021,400.01459,249.5,401.48062Q200.33979,402.94664,148.40775,382.30342Q96.47571,361.66021,97.77184,305.8301Q99.06796,250,89.77913,188.31311Q80.49031,126.62623,141.1699,114.13831Q201.84949,101.6504,258.07765,76.3325Q314.30582,51.01459,355.14322,97.36408Q395.98062,143.71357,431.38107,196.85678Q466.78153,250,419.15051,294.09954Z;
                M445,321.5Q447,393,378,411.5Q309,430,249.5,432.5Q190,435,136,403.5Q82,372,89.5,311Q97,250,96.5,194Q96,138,136,79.5Q176,21,240.5,51Q305,81,366,101.5Q427,122,435,186Q443,250,445,321.5Z;
                M446.29071,324.4456Q453.92376,398.89119,375.41025,396.79071Q296.89674,394.69023,236.35464,436.15211Q175.81255,477.61399,148,410.86815Q120.18745,344.12232,94.34511,297.06116Q68.50277,250,83.16441,194.80977Q97.82606,139.61954,136.26767,78.29626Q174.70929,16.97298,239.0965,51.31255Q303.48372,85.65211,347.08697,116.42931Q390.69023,147.20651,414.67394,198.60326Q438.65766,250,446.29071,324.4456Z;
                M462,321Q446,392,381,422Q316,452,255.5,435Q195,418,158,380.5Q121,343,78.5,296.5Q36,250,58,188.5Q80,127,138,105.5Q196,84,259.5,54.5Q323,25,369.5,77Q416,129,447,189.5Q478,250,462,321Z;
                M424.46329,302.23165Q394.56081,354.46329,351.80478,394.19503Q309.04876,433.92677,249.93901,432.91463Q190.82925,431.90248,159.39025,385.36587Q127.95124,338.82925,67.37801,294.41463Q6.80478,250,58.69512,198.92686Q110.58546,147.85373,149.12199,102.7195Q187.65851,57.58528,246.29264,69.79273Q304.92677,82.00018,383.40248,88.81711Q461.8782,95.63404,458.12199,172.81702Q454.36578,250,424.46329,302.23165Z;
                M419.15051,294.09954Q371.5195,338.19909,335.08985,369.10684Q298.66021,400.01459,249.5,401.48062Q200.33979,402.94664,148.40775,382.30342Q96.47571,361.66021,97.77184,305.8301Q99.06796,250,89.77913,188.31311Q80.49031,126.62623,141.1699,114.13831Q201.84949,101.6504,258.07765,76.3325Q314.30582,51.01459,355.14322,97.36408Q395.98062,143.71357,431.38107,196.85678Q466.78153,250,419.15051,294.09954Z;              
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob4">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb4" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#ffd700"></stop>
                <stop offset="30%" stop-color="#ffa500"></stop>
                <stop offset="100%" stop-color="#ff4500"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb4">
              <animate
                attributeName="d"
                dur="12000ms"
                repeatCount="indefinite"
                values="
                M419.2112,307.86641Q409.64519,365.73281,356.96377,391.84703Q304.28236,417.96125,245.90636,429.70882Q187.53035,441.4564,155.2926,391.60711Q123.05486,341.75782,85.19138,295.87891Q47.3279,250,53.1975,180.28321Q59.06709,110.56643,126.44172,94.02931Q193.81635,77.4922,253.20352,68.3904Q312.59069,59.2886,381.9532,81.67643Q451.31572,104.06427,440.04647,177.03213Q428.77722,250,419.2112,307.86641Z;
                M457.38281,313.98125Q425.95,377.9625,368.46406,408.44687Q310.97812,438.93125,256.46719,418.53125Q201.95625,398.13126,150.0125,379.04063Q98.06875,359.95,97.95781,304.975Q97.84687,250,100.35781,196.45156Q102.86874,142.90312,140.45781,86.02344Q178.04688,29.14376,241.03594,57.03438Q304.025,84.925,339.62969,121.87812Q375.23439,158.83124,432.025,204.41562Q488.81562,250,457.38281,313.98125Z;
                M414.90884,294.01896Q371.31505,338.03792,339.58008,382.20916Q307.8451,426.3804,247.0353,435.32614Q186.2255,444.27188,137.90621,405.29084Q89.58693,366.3098,70.65753,308.1549Q51.72812,250,71.05426,192.29347Q90.3804,134.58693,133.66438,79.6902Q176.94837,24.79347,244.1549,43.32876Q311.36144,61.86406,341.60327,111.48366Q371.8451,161.10327,415.17386,205.55163Q458.50263,250,414.90884,294.01896Z;
                M403.04801,301.976Q393.93142,353.95199,350.96571,390.97428Q308,427.99657,253.97771,416.06344Q199.95542,404.1303,158.92971,375.09944Q117.90399,346.06858,66.02057,298.03429Q14.13716,250,59.04629,196.98457Q103.95542,143.96914,144.464,96.94171Q184.97257,49.91428,249.97943,48.98286Q314.98628,48.05143,355.45199,96.05486Q395.91771,144.05829,404.04115,197.02915Q412.16459,250,403.04801,301.976Z;
                M398.36566,303.54478Q397.08956,357.08956,357.17912,407.99259Q317.26869,458.89562,241.64175,483.19798Q166.01482,507.50033,118.0633,443.74276Q70.11179,379.98518,103.07475,314.99259Q136.03771,250,132.3771,206.26869Q128.7165,162.53737,169.98889,146.433Q211.26128,130.32862,268.53737,74.48889Q325.81347,18.64916,374.80976,71.2835Q423.80606,123.91785,411.72391,186.95892Q399.64175,250,398.36566,303.54478Z;
                M419.2112,307.86641Q409.64519,365.73281,356.96377,391.84703Q304.28236,417.96125,245.90636,429.70882Q187.53035,441.4564,155.2926,391.60711Q123.05486,341.75782,85.19138,295.87891Q47.3279,250,53.1975,180.28321Q59.06709,110.56643,126.44172,94.02931Q193.81635,77.4922,253.20352,68.3904Q312.59069,59.2886,381.9532,81.67643Q451.31572,104.06427,440.04647,177.03213Q428.77722,250,419.2112,307.86641Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
  
        <div class="blob4 -blur">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <defs>
              <linearGradient id="gradientb4" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" stop-color="#ffd700"></stop>
                <stop offset="30%" stop-color="#ffa500"></stop>
                <stop offset="100%" stop-color="#ff4500"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradientb4">
              <animate
                attributeName="d"
                dur="12000ms"
                repeatCount="indefinite"
                values="
                M419.2112,307.86641Q409.64519,365.73281,356.96377,391.84703Q304.28236,417.96125,245.90636,429.70882Q187.53035,441.4564,155.2926,391.60711Q123.05486,341.75782,85.19138,295.87891Q47.3279,250,53.1975,180.28321Q59.06709,110.56643,126.44172,94.02931Q193.81635,77.4922,253.20352,68.3904Q312.59069,59.2886,381.9532,81.67643Q451.31572,104.06427,440.04647,177.03213Q428.77722,250,419.2112,307.86641Z;
                M457.38281,313.98125Q425.95,377.9625,368.46406,408.44687Q310.97812,438.93125,256.46719,418.53125Q201.95625,398.13126,150.0125,379.04063Q98.06875,359.95,97.95781,304.975Q97.84687,250,100.35781,196.45156Q102.86874,142.90312,140.45781,86.02344Q178.04688,29.14376,241.03594,57.03438Q304.025,84.925,339.62969,121.87812Q375.23439,158.83124,432.025,204.41562Q488.81562,250,457.38281,313.98125Z;
                M414.90884,294.01896Q371.31505,338.03792,339.58008,382.20916Q307.8451,426.3804,247.0353,435.32614Q186.2255,444.27188,137.90621,405.29084Q89.58693,366.3098,70.65753,308.1549Q51.72812,250,71.05426,192.29347Q90.3804,134.58693,133.66438,79.6902Q176.94837,24.79347,244.1549,43.32876Q311.36144,61.86406,341.60327,111.48366Q371.8451,161.10327,415.17386,205.55163Q458.50263,250,414.90884,294.01896Z;
                M403.04801,301.976Q393.93142,353.95199,350.96571,390.97428Q308,427.99657,253.97771,416.06344Q199.95542,404.1303,158.92971,375.09944Q117.90399,346.06858,66.02057,298.03429Q14.13716,250,59.04629,196.98457Q103.95542,143.96914,144.464,96.94171Q184.97257,49.91428,249.97943,48.98286Q314.98628,48.05143,355.45199,96.05486Q395.91771,144.05829,404.04115,197.02915Q412.16459,250,403.04801,301.976Z;
                M398.36566,303.54478Q397.08956,357.08956,357.17912,407.99259Q317.26869,458.89562,241.64175,483.19798Q166.01482,507.50033,118.0633,443.74276Q70.11179,379.98518,103.07475,314.99259Q136.03771,250,132.3771,206.26869Q128.7165,162.53737,169.98889,146.433Q211.26128,130.32862,268.53737,74.48889Q325.81347,18.64916,374.80976,71.2835Q423.80606,123.91785,411.72391,186.95892Q399.64175,250,398.36566,303.54478Z;
                M419.2112,307.86641Q409.64519,365.73281,356.96377,391.84703Q304.28236,417.96125,245.90636,429.70882Q187.53035,441.4564,155.2926,391.60711Q123.05486,341.75782,85.19138,295.87891Q47.3279,250,53.1975,180.28321Q59.06709,110.56643,126.44172,94.02931Q193.81635,77.4922,253.20352,68.3904Q312.59069,59.2886,381.9532,81.67643Q451.31572,104.06427,440.04647,177.03213Q428.77722,250,419.2112,307.86641Z;
                "
              ></animate>
            </path>
          </svg>
        </div>
      </div>
    <center>
<h1>Looks like you encountered an error!</h1>
<span id="error-code" style="color: #f84545;"></span>
</center>
</Layout>
<script is:inline>
    var error = localStorage.getItem('error')

    switch(error) {
        case "http":
        var errorcode = "looks like your using an http page! Please switch to https or";
        document.getElementById('error-code').innerHTML = errorcode + `<a href="top.location.href = 'https://' + location.hostname"> click here<a>`
        break;
        case "unsupported":
        document.getElementById('error-code').innerText = 'Your browser doesnt support service workers, Sorry!'
        break;
    }
</script>